<% provide(:title, @user.name) %>

<h2>
  Current time:
  <%= Time.now %>
</h2>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path, class: "mb-5" %>

  <h2 class="nt-bold mt-4">Posts (<%= @user.microposts.length %>)</h2>
  <% if @user.microposts.any? %>
    <% @user.microposts.each do |micropost| %>
      <div class="text-sm">
        <%= micropost.context %>
      </div>
    <% end %>
  <% else %>
    <p class="text-neutral-500">No posts found.</p>
  <% end %>

</div>
