<%= form_with(model: @micropost, local: true, class: "space-y-4") do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: "w-full px-3 py-2 border border-neutral-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 min-h-[100px]" %>
  </div>
  <%= f.submit "Post", class: "inline-flex h-10 items-center bg-blue-600 text-white font-medium transition-colors shadow-sm rounded-md px-6 py-1 hover:bg-blue-700 cursor-pointer" %>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
