<header class="fixed px-6 top-0 inset-x-0 border-b border-neutral-200 bg-white/80 gap-8 min-h-20 flex items-center justify-between backdrop-blur-md">
  <h1 class="font-bold text-2xl">
    <%= link_to "Home", root_path %>
  </h1>

  <nav>
    <ul class="flex items-center gap-2">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <% if is_logged_in? %>
        <li><%= link_to "Users",   users_path %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= button_to "Logout", logout_path, method: :post, data: { turbo_confirm: "Are you sure you want to log out?" }, class: "bg-red-400 rounded-md text-white font-medium inline-flex items-center h-8 px-6 roudned-md" %></li>
      <% else %>
        <li><%= link_to "Log in", login_path, class: "bg-blue-500 font-medium inline-flex rounded-md text-white items-center h-8 px-6" %></li>
      <% end %>
    </ul>
  </nav>
</header>
